<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Mon projet Symfony/Vuejs</title>
        {{ encore_entry_link_tags('app2') }}

        {{ encore_entry_script_tags('app2') }}
    </head>
    <body>
      <div id="vue-app2">
      {# L'appli Vue.js vivra ici #}
      </div>
    </body>
</html>
